body{
    background-color: #f7f4ed;
}

.centered{
    transform: translate(-50%, -50%);
    left: 50%;
}h1{
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
}
.link{
    color: black; 
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}
.link:hover{
    color:  #a6b4cf;
}
#work-card-title{
    color: black;
    font-family: 'Playfair Display', serif;
}
#logo:hover{
    color: #a6b4cf;
}